SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-service-role-key\
DATABASE_URL:DATABASE_URL=postgresql+asyncpg://postgres.uzrhvrbguyrrdmmtcjph:[YOUR PASSWORD]2026@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres